/* hero.css */

.hero-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

@media (min-width: 640px) {
  .hero-buttons {
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin-top: 2.5rem;
  }

  .hero-buttons .group {
    width: auto;
  }
}
