.glitch {
  position: relative;
  animation: flickerGlow 2.5s infinite;
}

@keyframes flickerGlow {
  0%, 100% {
    text-shadow:
      0 0 4px #fff,
      0 0 8px #ff00ff,
      0 0 12px #ff00ff,
      0 0 18px #ff00ff,
      0 0 24px #ff00ff;
  }
  20% {
    text-shadow:
      0 0 2px #fff,
      0 0 6px #ff00ff,
      0 0 10px #ff00ff,
      0 0 14px #ff00ff;
  }
  40% {
    text-shadow:
      0 0 3px #fff,
      0 0 7px #ff00ff;
  }
  60% {
    text-shadow:
      0 0 1px #fff,
      0 0 5px #ff00ff;
  }
  80% {
    text-shadow:
      0 0 4px #fff,
      0 0 9px #ff00ff,
      0 0 13px #ff00ff,
      0 0 20px #ff00ff;
  }
}

.animate-float {
  animation: floatY 3s ease-in-out infinite;
}

@keyframes floatY {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
}






.projectContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

#project1 {
  background-image: url(./projects/razorpay.jpg);
  right: 5%;
  margin-top: 5rem;
}

#project2 {
  background-image: url(/projects/discord.jpg);
  left: 5%;
}

#project3 {
  background-image: url(/projects/Password\ generator.jpg);
  right: 5%;
}

#project4 {
  background-image: url(/projects/Project4.png);
  left: 5%;
}

.projectCard {
  width: 80%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px;
  margin: 2rem auto;
  z-index: 1;
  transition: 1s;
}

.projectCard:hover {
  box-shadow: 0px 0px 1000px rgba(102, 5, 53, 0.765);
}

.projectCard::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* background: linear-gradient(45deg, #343d68, #343d68be, #343d687c); */
  background: linear-gradient(90deg, #000000b0, rgba(0, 0, 0, 0.266), #95969600);
  z-index: 1;
  transition: 0.5s;
  border-radius: 18px;

  transform-origin: left;
  transform: scaleX(0);
  /* transform: translate(-83%, 0%); */
}

.projectCard:hover::before {
  transform: scaleX(1);
  /* transform: translate(0%, 0%); */
}


.projectNumber {
  position: absolute;
  font-size: 180px;
  font-weight: 600;
  color: rgba(245, 217, 231, 0.506);
  display: none;
  z-index: 10;
  transition: 0.8s;
}

.rightNumber {
  top: -60px;
  right: -65px;
}

.leftNumber {
  top: -60px;
  left: -65px;
}

.projectCard:hover .projectNumber {
  display: block;
}

.projectCard::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1f1f1f9a;
  border-radius: 20px;
  z-index: 0;
}

.projectContent {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
  gap: 1rem;
  color: rgb(255, 255, 255);
  padding: 2em;
  bottom: 20%;
  position: absolute;
  z-index: 5;
  transition: 0.4s;
  max-width: 80%;
  bottom: 7%;
}

.leftProjectContent {
  left: 5%;
}

.rightProjectContent {
  right: 5%;
}

.projectSkillsContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  gap: 1em;
}

.projectSkill {
  width: 40px;
}

.projectHeading {
  font-size: 50px;
  font-weight: bold;
  line-height: 3rem;
  font-family: 'Catamaran', sans-serif;
}

.projectSubHeading {
  font-size: 16px;
  font-style: italic;
  width: 70%;
  opacity: 70%;
  border-radius: 6px;
  backdrop-filter: blur(8px);
}

.projectCard:hover .projectContent {
  transform: scale(1.05);
}

.btnGroup {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.projectBtn {
  border-radius: 40px;
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0.65em 1.5em;
  letter-spacing: 1px;
  border: none;
  background-position: left;
  background-size: 300%;
  background-image: linear-gradient(135deg, #9419d2, #dc2430, #dc2449, #9a31cf);
  transition: 0.3s;
  cursor: pointer;
}

.projectBtn:hover {
  scale: 0.96;
  background-position: right;
  filter: drop-shadow(0px 0px 20px #2101017e);
}

.icon {
  cursor: pointer;
  color: white;
  font-size: 32px;
  transition: 0.3s;
  /* font-size: 18px; */
}

.github {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #11010100;
  border-radius: 40px;
  cursor: pointer;
  font-size: 0.80rem;
  font-weight: 600;
  letter-spacing: 1.8px;
  transform-origin: left;
  transition: 0.3s;
}

.github:hover {
  padding: 0.15em 1em;
  background-color: #110101;
  filter: drop-shadow(0px 0px 20px #0000006c);
}

.github:hover::after {
  content: "Github";
  padding-left: 0.6em;
}

.icon:hover,
.github:hover .icon {
  /* font-size: 18px; */
  scale: 0.6;
}

@media (max-width:900px) {
  .projectTitle {
    font-size: 50px;
    /* filter: drop-shadow(0px 0px 7px #780159); */
  }

  .projectContainer {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 0;
    gap: 2rem;
  }

  #project1,
  #project2,
  #project3,
  #project4 {
    left: 0%;
    right: 0%;
  }

  .projectCard {
    margin: 2rem auto;
    height: 250px;
    margin: 0 auto;
    box-shadow: 0px 0px 100px rgba(61, 0, 66, 0.682);
  }

  /* .projectCard:hover .projectNumber {
    display: none;
  } */
  .projectCard::before {
    transform: scaleX(1);
  }

  .projectCard::after {
    background-color: #1f1f1f7c;
  }

  .projectContent {
    gap: 0rem;
    padding: 0.5em;
    bottom: 2%;

    transform: scale(1.05);

  }

  .projectNumber {
    font-size: 50px;
    display: block;
    filter: drop-shadow(0px 0px 19px #ffffff);

  }

  .rightNumber,
  .leftNumber {
    top: -20px;
    left: 85%;
  }

  .leftProjectContent,
  .rightProjectContent {
    left: 4%;
  }

  .btnGroup {
    margin-top: 0.4em;
  }

  .projectBtn {
    height: 20px;
    min-width: none;
    font-size: 0.5em;

  }

  .projectSkillsContainer {
    gap: 0.35em;
  }

  .projectSkill {
    width: 17px;
  }

  .projectHeading {
    font-size: 16px;
  }

  .projectSubHeading {
    font-size: 9px;
  }

  .icon {
    font-size: 16px;
    filter: drop-shadow(0px 0px 8px #ffffff);
  }

  .github:hover {
    padding: 0 0;
    background-color: #110101;
    filter: drop-shadow(0px 0px 20px #00000000);
  }

  .github:hover::after {
    content: "";
    padding-left: 0em;
  }

  .icon:hover,
  .github:hover .icon {
    font-size: 16px;
    scale: none;
  }
}


/* Add this in Projects.css or Skills.css */
.skillContainer {
  position: relative;
  display: flex;
  padding: 6rem 3rem 2rem 2rem;
  margin: 8rem auto;
  gap: 30px;
  z-index: 0;
  background-color: rgb(0, 0, 0);
}

.skillFadedText {
  font-size: 9rem;
  right: -5%;
  bottom: -10%;
  user-select: none;
  /* color: #c2c2c225; */
  background: linear-gradient(#c2c2c225 0%, #c2c2c213 20%, rgb(0, 0, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  filter: contrast(105%);
}

.leftSkillContainer {
  display: flex;
  flex-direction: column;
  width: 55%;
}



.skillHeading::first-letter {
  font-size: 90px;
}

.skillSubHeading {
  margin-top: 1rem;
  width: 85%;

}

.skillSubHeading p {
  margin: 15px 0;
  color: rgb(179, 177, 177);
  text-align: justify;
}



/* .blobStyle {
  position: absolute;
  width: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: blobAnimation 3s linear infinite;
}

@keyframes blobAnimation {
  50% {
    top: 54%;
    left: 46%;
  }
} */
.rightSkillContainer {
  margin-right: 75px;
  margin-top: 40px;
  height: 480px;
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  width: 45%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.skillsLogo {
  width: 65px;
  /* height: 65px; */
  transition: 0.4s;
  /* scale: 0.9; */
}

.skillsLogo:hover {
  transform: scale(0.85);
}


.space2 video {
  /* position: absolute; */
  /* z-index: -11; */
  /* width: 1000px; */
  /* transform:rotate(180deg); */
  /* filter: opacity(80%); */
  /* transform: scale(1.5); */
  /* transform: translateX(350px) translateY(130px); */

  position: absolute;
  width: 300%;
  top: 50%;
  left: 50%;
  filter: opacity(80%);
  filter: contrast(125%);
  transform: translate(-50%, -15%);
  z-index: -1;
}

@media (max-width:900px) {
  .skillContainer {
    padding: 6rem 3rem 2rem 2rem;
    margin: 1rem auto;
    margin-bottom: 15rem;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .leftSkillContainer {
    width: 100%;
    max-width: 600px;
  }

  .skillHeading {
    font-size: 35px;
    line-height: 50px;
  }

  .skillHeading span {
    font-size: 60px;
  }

  .skillSubHeading {
    width: 100%;
    /* margin: 0 auto; */
  }

  .skillSubHeading p {
    font-size: 14px;
    margin: 15px auto;
  }

  .rightSkillContainer {
    margin-right: 0px;
    margin-top: 40px;
    padding: 20px;
    gap: 30px;
    width: 100%;
    max-width: 200px;
    height: auto;
    /* overflow: hidden; */
  }

  .skillsLogo {
    width: 40px;
  }

  .space2 video {
    transform: translate(-50%, -15%) scale(1.3);
    max-width: 800px;
  }

  .skillFadedText {
    /* position: relative; */
    font-size: 8rem;
    width: 100%;
    text-align: center;
    left: 1%;
    bottom: -155px;
  }
}


