/* Glitch Core Style */
.glitch {
  position: relative;
  color: white;
  font-weight: 800;
  font-family: sans-serif;
}

/* Glitch Layers */
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: white;
  overflow: hidden;
  z-index: -1;
}

.glitch::before {
  left: 2px;
  text-shadow: -2px 0 red;
  animation: glitch-animation-1 2s infinite linear alternate-reverse;
}

.glitch::after {
  left: -2px;
  text-shadow: -2px 0 blue;
  animation: glitch-animation-2 2s infinite linear alternate-reverse;
}
.glitch:hover::before {
  animation: glitch-hover 0.3s cubic-bezier(.25, .46, .45, .94) both 5;
}
.glitch:hover::after {
  animation: glitch-hover 0.3s cubic-bezier(.25, .46, .45, .94) reverse both 5;
}

/* Glitch Keyframes */
@keyframes glitch-animation-1 {
  0% {
    clip: rect(12px, 9999px, 60px, 0);
  }
  10% {
    clip: rect(70px, 9999px, 80px, 0);
  }
  20% {
    clip: rect(40px, 9999px, 60px, 0);
  }
  30% {
    clip: rect(10px, 9999px, 40px, 0);
  }
  40% {
    clip: rect(60px, 9999px, 80px, 0);
  }
  50% {
    clip: rect(30px, 9999px, 50px, 0);
  }
  60% {
    clip: rect(50px, 9999px, 70px, 0);
  }
  70% {
    clip: rect(20px, 9999px, 40px, 0);
  }
  80% {
    clip: rect(0px, 9999px, 30px, 0);
  }
  90% {
    clip: rect(10px, 9999px, 50px, 0);
  }
  100% {
    clip: rect(20px, 9999px, 70px, 0);
  }
}

@keyframes glitch-animation-2 {
  0% {
    clip: rect(10px, 9999px, 40px, 0);
  }
  10% {
    clip: rect(30px, 9999px, 60px, 0);
  }
  20% {
    clip: rect(60px, 9999px, 90px, 0);
  }
  30% {
    clip: rect(20px, 9999px, 40px, 0);
  }
  40% {
    clip: rect(10px, 9999px, 50px, 0);
  }
  50% {
    clip: rect(70px, 9999px, 80px, 0);
  }
  60% {
    clip: rect(30px, 9999px, 60px, 0);
  }
  70% {
    clip: rect(40px, 9999px, 70px, 0);
  }
  80% {
    clip: rect(0px, 9999px, 30px, 0);
  }
  90% {
    clip: rect(20px, 9999px, 40px, 0);
  }
  100% {
    clip: rect(60px, 9999px, 90px, 0);
  }
}

@keyframes glitch-hover {
  0%   { transform: translate(0); }
  20%  { transform: translate(-2px, 2px); }
  40%  { transform: translate(-2px, -2px); }
  60%  { transform: translate(2px, 2px); }
  80%  { transform: translate(2px, -2px); }
  100% { transform: translate(0); }
}